
<h3>This is the author page! </h3>

<p> Name of the author: <%= @author %></p>

<p class="text-muted"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, vel tempore dolorum velit reprehenderit non dolor consectetur assumenda, nulla ducimus quasi numquam quibusdam earum fuga corrupti iste qui nihil suscipit maxime nesciunt nam aperiam ratione a. Quas, est autem? Omnis similique suscipit modi nam cupiditate? </p>
