
<h3> These are all my books </h3>

<ul>
  <% @books.each do |book| %>
    <%= link_to book_path(book) do %>
      <li> <%= book.title %> </li>
    <% end %>
  <% end %>
</ul>


<p> Find book by title: </p>
<% ("A".."Z").each do |letter| %>
  <%= link_to letter, alpha_books_path(alpha: letter ) %>
<% end %>
